Brlapi==0.6.7
caffeine==2.9.4
certifi==2018.8.24
chardet==3.0.4
configobj==5.0.6
cupshelpers==1.0
distro-info==0.21
ewmh==0.1.6
idna==2.6
iotop==0.6
louis==3.8.0
netifaces==0.10.4
pexpect==4.6.0
Pillow==5.4.1
psutil==5.5.1
pycairo==1.16.2
pycups==1.9.73
pycurl==7.43.0.2
PyGObject==3.30.4
python-apt==1.8.4.3
python-debian==0.1.35
python-xlib==0.23
pyxdg==0.25
PyYAML==3.13
reportlab==3.5.13
requests==2.21.0
six==1.12.0
unattended-upgrades==0.1
urllib3==1.24.1
websockets==11.0.3
wiringpi==2.60.1
